@model Escalade.Web.Public.Models.RegisterViewModel

@{
    string usernamePlaceHolder = Html.DisplayNameFor(m => m.Username);
    string emailPlaceHolder = Html.DisplayNameFor(m => m.EmailAddress);
    string firstNamePlaceHolder = Html.DisplayNameFor(m => m.FirstName);
    string lastNamePlaceHolder = Html.DisplayNameFor(m => m.LastName);
    string passwordPlaceHolder = Html.DisplayNameFor(m => m.Password);
    string confirmPasswordPlaceHolder = Html.DisplayNameFor(m => m.ConfirmPassword);
}

@section Scripts {
    <script src="@Url.Content("~/lib/jquery-validation/jquery.validate.js")"></script>
    <script src="@Url.Content("~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js")"></script>
}
<div id="create-account">
    <div class="box">
        <div class="content">
            <div class="logo text-center">
                <p class="text-primary">Hastilude</p>
            </div>
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()

                <fieldset>
                    <div id="user">
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <span class=" glyphicon glyphicon-user"></span>
                                    </div>
                                    @Html.TextBoxFor(m => m.Username, new { @class = "form-control", @placeholder = usernamePlaceHolder })
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <span class=" glyphicon glyphicon-envelope"></span>
                                    </div>
                                    @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control", @placeholder = emailPlaceHolder })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <span class=" glyphicon glyphicon-lock"></span>
                                    </div>
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = passwordPlaceHolder })
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <span class=" glyphicon glyphicon-lock"></span>
                                    </div>
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = confirmPasswordPlaceHolder })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="profile">
                        <div class="row">
                            <div class="form-group col-sm-6">
                                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @placeholder = firstNamePlaceHolder })
                            </div>
                            <div class="form-group col-sm-6">
                                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @placeholder = lastNamePlaceHolder })
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                @Html.DropDownListFor(m => m.SelectedCountry, Model.Countries, new { @class = "form-control" })
                            </div>
                            <div class="form-group col-sm-6">
                                @Html.DropDownListFor(m => m.SelectedGender, Model.Genders, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </fieldset>
                <input type="submit" formtarget="" class="btn btn-primary btn-lg center-block" value="Create Account" />
            }
        </div>
    </div>
</div>